# This project does not require local environment variables to run.
# Firebase web configuration is committed in firebase-applet-config.json.
#
# If you later move Firebase config into env vars, add them here.
